*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: RMNeue, arial, helvetica;
    line-height: 1.5;
}
header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: white;
}
.header-left{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: left;
    margin: 10px 3%;

}
.header-left :hover{
    cursor: pointer;
}
.header-left img{
    height: 40px;
}
.center-list{
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: #555556;
    font-weight: 550;
    
}
.center-list li:hover{
    color: #3E31FA;
    cursor: pointer;
    transition: color 0.4s;
}
.header-center{
    margin: 10px 3%;
}
.header-right:hover{
    cursor: pointer;
}
.header-right i:hover{
    color: #3E31FA;
    transition: color 0.4s;
}
.header-right:hover button{
    cursor: pointer;
}
.header-right{
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 10px 3%;
}
.header-right img{
    height: 40px;
}
.button-style{
    display: flex;
    gap: 10px;
    padding: 9px 15px;
    color: blue;
    border: solid 2px blue;
    border-radius: 10px;
}
.home-partner:hover{
    color: #3E31FA;
    transition: color 0.4s;
    cursor: pointer;
}
.home-partner img:hover{
    transform: scale(1.05);
    transition: transform 1s ease; 
    cursor: pointer;
}
.home-partner{
    width: 90%;
    height: 520px;
    gap: 40px;
    display: flex;
    align-items: center;
    margin: 10% 5%;
    background-color: #f3f5f8;
    border-radius: 20px;
    overflow: hidden;
    
}
.home-partner img{
    width: 70%;
    height: 520px;
    border-radius: 20px 0 0 20px;  
    
}
.home-partner h2{
    font-size: 28px;
}
.news-list{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 5%;
    margin-bottom: 50px;
    
}
.news-item{
    width: 24%;
    margin: 20px 0;
    overflow: hidden;
}
.news-item:hover{
    color: #3E31FA;
    transition: color 0.4s;
    cursor: pointer;
}
.news-item img:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 1s ease;
}
.news-item .test{
    border-radius: 20px;
}
.news-item img{
    width: 100%;
    /* height: 170px; */
    
}
.game{
    width: 100%;
    height: 450px;
    background-color: #d8d9db;
    margin-bottom: 50px;
}
.game img{
    width: 50%;
    height: 50%;
    margin: 110px 25%;
}
.Events{
    margin: 0 5%;
}
.filter{
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #3E31FA;
}
.filter p {
    position: relative;
    cursor: pointer;
}
.filter p:hover{
    color: #3E31FA;
    transition: color 0.4s;
    text-decoration: underline;
}
.teams-list{
    width: 100%;
    height: 220px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
}
.teams-list img{
    height: 50px;
    width: 45px;
    margin-right: 7px;
}
.teams-item {
    display: flex;
    width: 32%;
    height: 220px;
    background-color: #0F2145;
    align-items: center;
    justify-content: space-between;
    line-height: 4.5;
    border-radius: 20px;
}
.teams-item img{
    width: 65px;
    height: 70px;
    margin-left: 8px;
}
.teams p{
    color: white;
}
.teams{
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
}
.text-milan{
    margin-left: 20px;
}
.text-barca{
    margin-left: 5px;
}
.text-chel{
    margin-left: 10px;
}
.text-list{
    display: flex;
    gap: 25px;
    margin-bottom: 100px;
}
.text-item{
    width: 32%;
    height: 220px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 16px 24px;
    margin: -30px 0 0;
}
.text-item p{
    font-size: 15px;
    margin: 20px 0;
}
.text-item h4{
    font-weight: 400;
}
.day{
    display: flex;
    gap: 10px;
    margin-top: 50px;
}
.day h4{
    color: #CA024F;
}
.location-icon{
    display: flex;
    gap: 10px;
    margin: 10px 0 100px 0;
}
.memory-list{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 3%;
    margin-bottom: 50px;
}
.memory-item{
    width: 32%;
    overflow: hidden;
}
.memory-item img{
    border-radius: 20px;
}
.memory-item img:hover{
    transform: scale(1.05);
    transition: transform 1s ease; 
    cursor: pointer;
}
.serenity{
    margin: 0 5%;
}
.serenity h1{
    color: #3E31FA;
    font-size: 40px;
    margin-bottom: 20px;
}
.serenity .serenity-img img{
    width: 900px;
    height: 550px;
    border-radius: 30px;
}
.serenity-list{
    display: flex;
}
.item-button{
    display: flex;
    gap: 20px;
    margin: 0 25px;
}
.item-button p {
    position: relative;
    cursor: pointer;
}
.item-button p:hover{
    color: #3E31FA;
    transition: color 0.4s;
    text-decoration: underline;
}
.btn-basketball button{
    background-color: #ece7e7;
    color: rgb(93, 91, 91);
    padding: 5px 20px;
    border: solid 2px white;
    border-radius: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.item-img{
    display: flex;
    gap: 10px;
    margin: 35px 25px;
}
.btn-football button{
    background-color: #3E31FA;
    color: white;
    padding: 5px 30px;
    border: solid 2px white;
    border-radius: 20px;
    margin: 0 30px 0 -40px;
    cursor: pointer;
}
.item-button p{
    color: #3E31FA;
}
.row{
    display: flex;
    gap: 70px;
}
.item-img-footer{
    display: flex;
    gap: 10px;
    margin: 60px 25px;
}
.avatar h1{
    margin: 0 5%;
    font-size: 40px;
}
.game-more{
    width: 100%;
    height: 300px;
    background-color: #d8d9db;
    margin-bottom: 50px;
}
.game-more img{
    width: 50%;
    height: 35%;
    margin: 100px 25%;
}
.map{
    width: 100%;
    background-image: url(https://publish-p47754-e237306.adobeaemcloud.com/adobe/dynamicmedia/deliver/dm-aid--e42d4632-f1eb-40e2-85f6-8dccb6953670/Bernabeu.app.png?preferwebp=true&width=1440);
    background-size: cover;
    background-position: center;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 5% 0 5%;
    color: #FFFFFF;
}
.title h1{
    margin-top: 50px;
}
.title p{
    margin-top: 50px;
}
.title p {
    position: relative;
    cursor: pointer;
}
.title p:hover{
    color: #ededf1;
    transition: color 0.4s;
    text-decoration: underline;
}
.location{
    position: relative;
}
.location img{
    width: 80%;
    height: 500px;
    border-radius: 30px;
    margin: 1% 10%;
    filter: brightness(50%);
}
.location p{
    color: #3E31FA;
    font-weight: 600;
}
.location-first{
    position: absolute;
    background-color: #FFFFFF;
    top: 20%;
    left: 30%;
    padding: 12px 16px;
    border-radius: 20px;
    
}
.location-first:hover{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.location-first p:hover{
    color: #3026b4;
}
.location-second{
    position: absolute;
    background-color: #FFFFFF;
    top: 60%;
    left: 25%;
    padding: 12px 16px;
    border-radius: 20px;
}
.location-second:hover{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.location-second p:hover{
    color: #3026b4;
}
.location-three{
    position: absolute;
    background-color: #FFFFFF;
    top: 20%;
    left: 60%;
    padding: 12px 16px;
    border-radius: 20px;
}
.location-three:hover{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.location-three p:hover{
    color: #3026b4;
}
.location-four{
    position: absolute;
    background-color: #FFFFFF;
    top: 65%;
    left: 60%;
    padding: 12px 16px;
    border-radius: 20px;
}
.location-four:hover{
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.location-four p:hover{
    color: #3026b4;
}
.stadium h1{
    margin: 3% 5%;
}
.features-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1% 6%;
}
.features-title p{
    color: #3E31FA;
}
.features-title p:hover{
    color: #3E31FA;
    transition: color 0.4s;
    text-decoration: underline;
}
.quang-cao{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 450px;
    background-color: #d8d9db;
    margin-bottom: 50px;
}
.quang-cao img{
    width: 20%;
    height: 50%;
}
footer{
    margin: 0 5%;
}
.footer-list{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.footer-item{
    display: flex;
    flex-direction: column;
    
}
.item-li li{
    margin: 20px 0;
    font-size: 15px;
    list-style: none;
}
.item-li li {
    position: relative;
    cursor: pointer;
}

.item-li li:hover{
    color: #3E31FA;
    transition: color 0.4s;
    text-decoration: underline;
}
.footer-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}
.footer-app p{
    font-size: 13px;
    color: #7e7f81;
}
.app-img{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    
}
.app-img img{
    width: 215px;
    height: 60px;
    cursor: pointer;
}
.footer-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    
}
.item-img-big{
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 80px 0;
}
.item-img-small{
    display: flex;
    align-items: center;
    gap: 35px;
}
.item-img-big img{
    width: 120px;
    height: 90px;
    cursor: pointer;
}
.item-img-small img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.footer-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    margin: 0 1%;
}
.icon-logo img{
    width: 75px;
    height: 55px;
}
.item-icon i{
    font-size: 25px;
}
.item-icon i:hover{
    color: #3E31FA;
    transition: color 0.4s;
    cursor: pointer;
}
.item-icon{
    display: flex;
    gap: 50px;
}
.more{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 1%;
}
.more p{
    font-size: 10px;
    color: #7e7f81;
}
.more h5{
    font-size: 12px;
    color: #7e7f81;
}
.more h5:hover{
    color: #3E31FA;
    transition: color 0.4s;
    text-decoration: underline;
    cursor: pointer;
}
.aaa{
    background-image: url(https://publish-p47754-e237306.adobeaemcloud.com/content/dam/common/statics/public-content/internet/web/rm-spa-web/images/stadium/blurred-bg.app.jpg?$Desktop$);
    width: 100vw;
    height: 200px;
}
